* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root{
  --background: #333333;
}
html {
  background-color: var(--background) ;
  scroll-behavior: smooth;
}

.musicPlayer-Section{
  display: grid;
  grid-template-columns: 1.4fr 1fr 1.3fr;
  height: 90vh;
  color: white;
  
}


.musicPlayer-Section__playlist > ul{
  display: block;
  width: 100%;
  
}
.musicPlayer-Section__playlist > ul > li{
  display: flex;
  padding: 18px 0px 8px 10px;
  width: 100%;
  align-items: center;
  

}
.playlist-element__title{
  font-size: 26px;
}
.playlist-element__content-info{
  margin-left: 20px;
}
.playlist-element__time{
  width: 100%;
  display: flex;
  justify-content:end ;
  padding-right: 30px;
}

.playlist-element__photo{
  border-radius: 20px;
  width: 80px;
  height: 80px;
  background-image: url(./media/photos/guy.jpg);
  flex-shrink: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

